@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  background: #f3f5fc;
}

button{
  transition: transform 0.2s ease-in-out;
}

button:active {
  transform: scale(0.9);
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 2px;
}

*::-webkit-scrollbar-track {
  background: #D8DFE8;
}

*::-webkit-scrollbar-thumb {
  background: #343a40;
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #343a40;
}

.footer{
  width: 100%;
  height: 50px;
  background-color: #343a40;
  display: grid;
  place-items: center;
}

.footer p , a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #D8DFE8;
}

.hidden{
  display: none;
  visibility: hidden;
}

.container {
  position: relative;
  width: 95vw;
  height: 100vh;
  background: #f3f5fc;
  display: grid;
  grid-template-columns: 2fr 1fr;  
  align-items: center; 
  overflow: hidden; 
}

.main{
  z-index: 1;
}

.alura {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 3rem;
  width: 7.5rem;
  z-index: 10;
}

.criptografado {
  display: flex;
  justify-content: center;
  position: relative;
  width: 25rem;
  height: 90%;
  top: 5%;
  background: #fff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  background-color: red;
}

.card {
  display: flex;
  justify-content: center;
  position: relative;
  width: 25rem;
  height: 90%;
  background: #fff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  z-index: 1;
}

.card .card-item .mensagem-criptografada img {
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  margin: 0 auto;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resultado{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  gap: 20px;
}

.textoResultado{
  position: relative;
  width: fit-content;
  height: 80%;
  width: 85%;
  padding-top: 30px;
  font-size: 1.5rem;
  line-height: 36px;
  color: black;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  border: none;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 400;
}

.textoResultado:focus,
.textoResultado:active{
  border: none;
  outline: none;
}

.btn-copiar {
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 90%;
  height: 70px;
  background: transparent;
  border-radius: 24px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #0a3871;
  border: 1px solid #0a3871;
  cursor: pointer;
}

.texto {
  position: absolute;
  width: 42%;
  height: 60%;
  left: 12%;
  top: 15%;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 150%;
  background-color: #f3f5fc;
}

.texto::placeholder {
  color: #0a3871;
}

.texto:focus,
.texto:active {
  border: none;
  outline: none;
}

.regras {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 80%;
}


.regras p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.botoes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1% 0;
  position: absolute;
  width: 80%;
  gap: 24px;
  left: 12%;
  top: 82%;
}

.btn-criptografar {
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 25%;
  background-color: #0a3871;
  border-radius: 24px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.btn-descriptografar {
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 25%;
  background: #D8DFE8;
  border-radius: 24px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #0a3871;
  border: 1px solid #0a3871;
  cursor: pointer;
}


.mensagem-criptografada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 16px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.mensagem-criptografada h2 {
  width: 60%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  text-align: center;
  color: #343a40;
}

.mensagem-criptografada p {
  width: 80%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: #495057;
}

.criptografado img {
  position: absolute;
  width: 80%;
  height: 50%;
  top: 15%;
}

@media (orientation: portrait) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 30px;
    height: auto;
    
  }

  .main {
    width: 100%;
    position: relative;
    height: 100vh;
  }

  .texto {
    position: relative;
    width: 80%;
    height: 70%;
    left: 10%;
    top: 5%;
    font-size: 1.5rem;
  }

  .regras {
    width: 80%;
    left: 10%;
    top: 77%;
  }

  .regras p {
    font-size: 16px;
  }

  .botoes {
    width: 80%;
    left: 10%;
    top: 80%;
    display: flex;
    flex-direction: column;
  }

  .btn-criptografar,
  .btn-descriptografar {
    width: 100%;
    height: 60px;
    margin-bottom: 1%;
    border-radius: 24px;
  }

  .card {
    position: relative; 
    width: 80%;
    height: 75vh;
    margin-top: 50px;
    
  }

  .mensagem-criptografada {
    width: 100%;
    top: 5%;
    border-radius: 24px;
    display: grid;
    place-items: center;
  }

  .mensagem-criptografada h2 {
    font-size: 1rem;
  }

  .card img {
    top: 0;
    display: none;
    visibility: hidden;
  }

  .resultado{

    width: 100%;

  }
}

@media screen and (min-width: 280px) and (max-width: 600px) and (min-height: 600px) and (max-height: 840px) {
  .card {
    position: relative; 
    width: 80%;
    height: 75vh;
    margin-top: 30px;
  }

  .regras img {
    width: 200px;
  }

  .textoResultado{
    font-size: 1rem;
  }

  .texto{
    font-size: 1rem;
  }
}



@media (orientation: portrait) {
  
  .alura {
    position: absolute;
    top: 5px;
    left: -30px;
    margin-right: auto;
    height: 3rem;
    width: 7.5rem;
  }

}
